{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the single post page --}}
<main id="main" class="site-main">

	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	<article class="{{post_class}} post-full inner">

		<header class="post-header">
			<div class="post-meta">
				{{#if featured}}<span class="featured-badge">{{t "Featured"}}</span> &ndash; {{/if}}<time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="LL"}}</time>
			</div><!-- .post-meta -->
			<h1 class="post-title underline">{{title}}</h1>
			{{#if tags}}
			<div class="post-tags">{{tags separator=" "}}</div>
			{{/if}}
		</header><!-- .post-header -->

		{{#if feature_image}}
		<div class="post-thumbnail">
			<img srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s"}} 600w, {{img_url feature_image size="m"}} 800w, {{img_url feature_image size="l"}} 1100w, {{img_url feature_image size="xl"}} 1600w" sizes="(max-width: 800px) 94vw, (max-width: 1000px) 64vw, (max-width: 1468px) calc(94vw - 300px), 1100px" src="{{img_url feature_image size="l"}}" alt="{{title}}" />
		</div>
		{{/if}}

		{{!-- If Members feature enabled --}}
		{{#if @labs.members}}

			{{!-- If the user has access, show post content, footer and comments --}}
			{{#if access}}

			<div class="post-content">
				{{content}}
			</div><!-- .post-content -->

			<footer class="post-footer">
				{{!-- Post sharing buttons - partials/post-share.hbs --}}
				{{> post-share}}
			</footer><!-- .post-footer -->

			{{!-- The Disqus comments - partials/disqus-comments.hbs --}}
			{{> "disqus-comments"}}

			{{!-- If the user has no access, show post excerpt and subscribe cta --}}
			{{else}}

			<div class="post-content">
				<p class="post-excerpt">{{excerpt words="120"}}</p>
			</div><!-- .post-content -->

			{{#has visibility="paid"}}
			<section class="subscribe-box inner">
				<h2 class="subscribe-box-title">{{t "This post is for paying subscribers only"}}</h2>
				{{#if @member}}
				<p>{{t "Upgrade your account to keep reading this post and get access to the full library of posts for paying subscribers only."}}</p>
				<p><a class="button" href="{{@site.url}}/account/">{{t "View subscribe options"}}</a></p>
				{{else}}
				<p>{{t "Sign up and upgrade your account to get access to the full library of posts for paying subscribers only."}}</p>
				{{> "member-signup-form"}}
				<p class="note">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></p>
				{{/if}}
			</section><!-- .subscribe-box -->
			{{else}}
			<section class="subscribe-box inner">
				<h2 class="subscribe-box-title">{{t "This post is for subscribers only"}}</h2>
				<p>{{t "Sign up now to get access to the full library of posts for subscribers only."}}</p>
				{{> "member-signup-form"}}
				<p class="note">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></p>
			</section><!-- .subscribe-box -->
			{{/has}}

			{{/if}}

		{{!-- If Members feature disabled, show post content, footer and comments --}}
		{{else}}

		<div class="post-content">
			{{content}}
		</div><!-- .post-content -->

		<footer class="post-footer">
			{{!-- Post sharing buttons - partials/post-share.hbs --}}
			{{> post-share}}
		</footer><!-- .post-footer -->

		{{!-- The Disqus comments - partials/disqus-comments.hbs --}}
		{{> "disqus-comments"}}

		{{/if}}

	</article><!-- .post -->

	{{!-- If Members enabled and this is a public post, show subscribe --}}
	{{#if @labs.members}}
		{{#if access}}
			{{#unless @member}}
				{{!-- The subscribe box - partials/subscribe-box.hbs --}}
				{{> "subscribe-box"}}
			{{/unless}}
		{{/if}}
	{{/if}}

	{{!-- Related posts --}}
	{{#get "posts" filter="tags:[{{tags[*].slug}}]+id:-{{id}}" limit="2" include="tags" as |related_posts|}}
		{{#foreach related_posts visibility="all"}}
			{{#if @first}}
			<section class="read-next inner">
				<h2 class="read-next-title underline">{{t "Read Next"}}</h2>
			{{/if}}
				<article class="{{post_class}}">
					<header class="post-header">
						<div class="post-meta">
							<time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="LL"}}</time>
						</div><!-- .post-meta -->
						<h3 class="post-title"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h3>
						{{#if tags}}
						<p class="post-tags">{{tags separator=" "}}</p>
						{{/if}}
					</header><!-- .post-header -->
				</article><!-- .post -->
			{{#if @last}}
			</section><!-- .read-next -->
			{{/if}}
		{{/foreach}}
	{{/get}}

	{{!-- Tagcloud --}}
	{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
		{{#foreach tags}}
			{{#if @first}}
			<section class="tagcloud inner">
				<h2 class="tagcloud-title underline">{{t "Tags"}}</h2>
				<div class="tag-links">
			{{/if}}
					<a href="{{url}}">{{name}} ({{count.posts}})</a>
			{{#if @last}}
				</div><!-- .tag-links -->
			</section><!-- .tagcloud -->
			{{/if}}
		{{/foreach}}
	{{/get}}

	{{/post}}

</main><!-- .site-main -->
