{{!< ../default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the member signup page --}}
<main id="main" class="site-main">
	<div class="site-signup inner">

		{{#if @member}}

			{{!-- Logged in: Redirect home --}}
			<script>window.location = '{{@site.url}}';</script>

		{{else}}

			{{!-- Not logged in: Sign up --}}
			<header class="page-header">
				<h1 class="page-title underline">{{t "Create an Account" sitetitle=@site.title}}</h1>
			</header><!-- .page-header -->

			<div class="page-content">
				<div class="subscribe-box">
					<p class="intro">{{t "Don't have an account with {sitetitle}? Creating one takes just minutes." sitetitle=@site.title}}</p>
					{{> "member-signup-form"}}
					<p class="note">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></p>
				</div><!-- .subscribe-box -->
			</div><!-- .page-content -->

	{{/if}}

	</div><!-- .site-signup -->
</main><!-- .site-main -->
